<header>
    <div class="searchBar">
        <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Pesquisar..." disabled />
              <span class="icon is-small is-left">
                <i class="fa-solid fa-magnifying-glass"></i>
              </span>
            </p>
        </div>          
    </div>
    <div class="liveBar">
      <div class="live-notification">
        <span class="live-dot"></span>
        <ul class="listaLive">
          <li class="dropdown-wrapper">
      
            {% set streamer_online = streamers | selectattr("status", "equalto", "on") | selectattr("dados", "equalto", "Sabuconde") | list %}
      
            <a href="https://www.twitch.tv/sabuconde" class="trigger" target="_blank">
              {% if streamer_online|length > 0 %}
                <img src="{{ url_for('static', filename='assets/sabuconde.png')  | replace('{width}', '60') | replace('{height}', '34') }}" alt="thumbnail" />
                <span style="font-weight: bold;"> Sabuconde</span>
              {% endif %}
              Live On
              <i class="fa-solid fa-angle-down"></i>
            </a>
      
            <ul class="dropdown">
              {% for item in streamers %}
                {% if item.status == "on" %}
                  <li>
                    <a href="{{ item.links }}" target="_blank">
                      <img src="{{ item.stream_info.thumbnail_url | replace('{width}', '60') | replace('{height}', '34') }}" alt="thumbnail" />
      
                      <div>
                        <strong>{{ item.dados }}</strong>
                        <div class="streamers-jogo">
                          {{ item.stream_info.game_name }}
                        </div>
                        <div class="streamers-viewers">
                          👥 {{ item.stream_info.viewer_count }} viewers
                        </div>
                      </div>
                      <div class="liveon_span">
                        <span class="live">● Live ON</span>
                        {% if item.plataforma == "twitch" %}
                          <img class="off" src="{{ url_for('static', filename='assets/twitch.png') }}" alt="Twitch" style="width: 25px;">
                        {% elif item.plataforma == "youtube" %}
                          <img class="off" src="{{ url_for('static', filename='assets/youtube.png') }}" alt="YouTube" style="width: 25px;">
                        {% endif %}
                      </div>
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
      
          </li>
        </ul>
      </div>
    </div>
    
    <div class="iconBar">
        <ul class="iconBar ul">
            {% for item in links %}
            <a href="{{ item.link }}" target="_blank" class="link-card">
                    <i class="{{ item.icone }}"></i>
            </a>
            {% endfor %}
        </ul>
    </div>
</header>