<header>
    <div class="searchBar">
        <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Pesquisar..." disabled />
              <span class="icon is-small is-left">
                <i class="fa-solid fa-magnifying-glass"></i>
              </span>
            </p>
        </div>          
    </div>
    <div class="liveBar">
        <div class="live-notification">
            <span class="live-dot"></span>
            <ul class="listaLive">
                <li class="dropdown-wrapper">
                  <a href="#" class="trigger">Live On</a>
                  <ul class="dropdown">
                    {% for item in streamers %}
                    {% if item.status == "on" %}
                      <li>
                        <a href="{{ item.links }}" target="_blank">
                          <img src="{{ item.stream_info.thumbnail_url | replace('{width}', '60') | replace('{height}', '34') }}" alt="thumbnail" />
                  
                          <div>
                            <strong>{{ item.dados }}</strong>
                            <div class="streamers-jogo">
                              {{ item.stream_info.game_name }} 
                            </div>
                            <div class="streamers-viewers">
                              👥 {{ item.stream_info.viewer_count }} viewers
                            </div>
                          </div>
                  
                          <span class="live">● Live ON</span>
                        </a>
                      </li>
                    {% endif %}
                  {% endfor %}
                  </ul>
                </li>
              </ul>
            <!-- <div class="listaLive">
                <li class="has-dropdown">
                    <span class="live-text">Live ON </span>
                    <ul class="dropdown">
                        {% for item in streamers %}
                        {% if item.status == "on" %}
                            <li><a href="#">{{ item.dados }} </a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            </div> -->
        </div>
    </div>
    
    <div class="iconBar">
        <ul class="iconBar ul">
            {% for item in links %}
            <a href="{{ item.link }}" target="_blank" class="link-card">
                    <i class="{{ item.icone }}"></i>
            </a>
            {% endfor %}
        </ul>
    </div>
</header>