<button id="toggle-menu" class="button is-small is-light" style="position: fixed; top: 1rem; left: 13rem; z-index: 1000;">
        <i id="toggle-icon" class="fas fa-arrow-left"></i>
</button>
<aside id="sidebar" class="menu-sidebar">
        <h3 class="title is-3">Seções</h3>
        <nav>
          <a href="{{ url_for('info_page') }}">📌 Info Essenciais</a>
          <a href="{{ url_for('classes_page') }}">🧙 Classes & Builds</a>
          <a href="{{ url_for('rotas_page') }}">⚔️ Rotas de UP + Dicas</a>
          <a href="{{ url_for('items_page') }}">🧈 Items Importantes</a>
          <a href="{{ url_for('monstros_page') }}">🐺 Monstros</a>
          <a href="{{ url_for('timer_page') }}">⏱️ Calc de EXP</a>
          <a href="{{ url_for('streamers_page') }}">🎥 Streamers</a>
        </nav>
        <div class="lista-links">
         {% for item in links %}
          <a href="{{ item.link }}" target="_blank" class="link-card">
                  <i class="{{ item.icone }}"></i>
          </a>
          {% endfor %}
        </div>
</aside>










