<button id="toggle-menu" class="button is-small is-light" style="position: fixed; top: 1rem; left: 13rem; z-index: 1000;">
   <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
      <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
    </svg>   
</button>
<aside id="sidebar" class="menu-sidebar">
        <nav>
             <a href="{{ url_for('info_page') }}"
                class="menu-link {% if request.path == url_for('info_page') %}is-active{% endif %}"
                data-label="Novidades">
                <span class="icon">📰</span>
                <span class="label">Novidades</span>
             </a>

             <a href="{{ url_for('classes_page') }}"
                class="menu-link {% if request.path == url_for('classes_page') %}is-active{% endif %}""
                data-label="Classes & Builds">
                <span class="icon">📘</span>
                <span class="label">Guias</span>
             </a>
             <a href="{{ url_for('rotas_page') }}"
                class="menu-link {% if request.path == url_for('rotas_page') %}is-active{% endif %}"
                data-label="Rotas de UP + Dicas">               
                <span class="icon">⚔️</span>
                <span class="label">Rotas de UP + Dicas</span>
             </a>
             <a href="{{ url_for('melhores_spots_page') }}"
                class="menu-link {% if request.path == url_for('melhores_spots_page') %}is-active{% endif %}"
                data-label="Melhores SPOTS">
                <span class="icon">👣</span>
                <span class="label">Melhores SPOTS</span>
             </a>
             <a href="{{ url_for('items_page') }}"
                class="menu-link {% if request.path == url_for('items_page') %}is-active{% endif %}"
                data-label="Items Importantes">
                <span class="icon">🧈</span>
                <span class="label">Items Importantes</span>
             </a>
             <a href="{{ url_for('monstros_page') }}"
                class="menu-link {% if request.path == url_for('monstros_page') %}is-active{% endif %}"
                data-label="Monstros">
                <span class="icon">🐺</span>
                <span class="label">Monstros</span>
             </a>
             <a href="{{ url_for('timer_page') }}"
                class="menu-link {% if request.path == url_for('timer_page') %}is-active{% endif %}"
                data-label="Calc de EXP">
                <span class="icon">⏱️</span>
                <span class="label">Calc de EXP</span>
             </a>
             <a href="{{ url_for('streamers_page') }}"
                class="menu-link {% if request.path == url_for('streamers_page') %}is-active{% endif %}"
                data-label="Streamers">
                <span class="icon">🎥</span>
                <span class="label">Streamers</span>
             </a>
             <a href="{{ url_for('clips_page') }}"
               class="menu-link {% if request.path == url_for('clips_page') %}is-active{% endif %}"
               data-label="Novidades">
               <span class="icon">🎬</span>
               <span class="label">Clipes</span>
             </a>
             <a href="{{ url_for('contato_page') }}"
                class="menu-link {% if request.path == url_for('contato_page') %}is-active{% endif %}"
                data-label="Contato & Apoio">
                <span class="icon">❤️</span>
                <span class="label">Contato & Apoio</span>
             </a>
        </nav>
        <!-- <div class="lista-links">
         {% for item in links %}
          <a href="{{ item.link }}" target="_blank" class="link-card">
                  <i class="{{ item.icone }}"></i>
          </a>
          {% endfor %}
        </div> -->
</aside>










