 <aside>
 <nav class="sidebar">
      <button class="expand-btn" type="button">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" aria-labelledby="exp-btn" role="img">
          <title id="exp-btn">Expand/Collapse Menu</title>
          <path d="M6.00979 2.72L10.3565 7.06667C10.8698 7.58 10.8698 8.42 10.3565 8.93333L6.00979 13.28"
            stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
    <div class="sidebar-links">
      <ul>
        <li>
          <a href="{{ url_for('info_page') }}"
                class="menu-link tooltip {% if request.path == url_for('info_page') %}is-active{% endif %}"
                data-label="Novidades">
                <span class="icon">📰</span>                
                <span class="link hide">Novidades</span>
                <span class="tooltip__content">Novidades</span>
          </a>
        </li>
        <li>
          <a href="{{ url_for('classes_page') }}"
                class="menu-link tooltip {% if request.path == url_for('classes_page') %}is-active{% endif %}"
                data-label="Classes & Builds">
                <span class="icon">📘</span>
                <span class="link hide">Guias</span>
                <span class="tooltip__content">Guias</span>
          </a>
        </li>
        <li>
          <a href="{{ url_for('rotas_page') }}"
                class="menu-link tooltip {% if request.path == url_for('rotas_page') %}is-active{% endif %}"
                data-label="Rotas de UP + Dicas">               
                <span class="icon">⚔️</span>
                <span class="link hide">Rotas de UP +</span>
                <span class="tooltip__content">Rotas de UP + Dicas</span>
          </a>
        </li>
        <li>
         <a href="{{ url_for('melhores_spots_page') }}"
                class="menu-link tooltip {% if request.path == url_for('melhores_spots_page') %}is-active{% endif %}"
                data-label="Melhores SPOTS">
                <span class="icon">👣</span>
                <span class="link hide">Melhores SPOTS</span>
                <span class="tooltip__content">Melhores SPOTS</span>
          </a>
        </li>
        <li>
          <a href="{{ url_for('items_page') }}"
                class="menu-link tooltip {% if request.path == url_for('items_page') %}is-active{% endif %}"
                data-label="Items Importantes">
                <span class="icon">🧈</span>
                <span class="link hide">Items Importantes</span>
                <span class="tooltip__content">Items Importantes</span>
          </a>
        </li>
         <li>
           <a href="{{ url_for('timer_page') }}"
                class="menu-link tooltip {% if request.path == url_for('timer_page') %}is-active{% endif %}"
                data-label="Calc de EXP">
                <span class="icon">⏱️</span>
                <span class="link hide">Calc de EXP</span>
                <span class="tooltip__content">Calc de EXP</span>
          </a>
        </li>
         <li>
         <a href="{{ url_for('streamers_page') }}"
                class="menu-link tooltip {% if request.path == url_for('streamers_page') %}is-active{% endif %}"
                data-label="Streamers">
                <span class="icon">🎥</span>
                <span class="link hide">Streamers</span>
                <span class="tooltip__content">Streamers</span>
          </a>
        </li>
         <li>
          <a href="{{ url_for('monstros_page') }}"
                class="menu-link tooltip {% if request.path == url_for('monstros_page') %}is-active{% endif %}"
                data-label="Monstros">
                <span class="icon">🐺</span>
                <span class="link hide">Monstros</span>
                <span class="tooltip__content">Monstros</span>
          </a>
        </li>
          <li>
          <a href="{{ url_for('clips_page') }}"
               class="menu-link tooltip {% if request.path == url_for('clips_page') %}is-active{% endif %}"
               data-label="Clipes">
               <span class="icon">🎬</span>
               <span class="link hide">Clipes</span>
               <span class="tooltip__content">Clipes</span>
          </a>
        </li>
        <li>
           <a href="{{ url_for('contato_page') }}"
                class="menu-link tooltip {% if request.path == url_for('contato_page') %}is-active{% endif %}"
                data-label="Contato & Apoio">
                <span class="icon">❤️</span>
                <span class="link hide">Contato & Apoio</span>
                <span class="tooltip__content">Contato & Apoio</span>
          </a>
        </li>

    </div>
  </nav>
  </aside>